* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    font-size: 2rem; /* Usando rem para ajustar ao tamanho de fonte raiz */
    padding-bottom: 15px;
    font-weight: bold;
}

hr {
    height: 3px;
    background-color: rgb(230, 169, 169);
}

label {
    display: block;
    font-weight: bold;
}

input {
    width: 89%; 
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgb(220, 220, 220);
    padding: 5px;
}

body {
    padding: 2rem;
}

.container {
    width: 100%;
    max-width:500px; 
    padding: 2rem;
    background-color: rgba(237, 232, 214, 0.5);
    border: 5px solid rgb(239, 224, 237);
    border-radius: 15px;
    margin: 0, auto;
}

.select-gender {
    margin-bottom: 10px;
}

.form-imputs .input-group {
    margin-bottom: 20px;
    margin-top: 10px;
}

button {
    border: 1px solid;
    cursor: pointer;
    width: 100%;
    height: 50px;
    border-radius: 8px;
    font-size: 1.25rem;
}

.btn-calculate {
    width: 100%; 
    color: white;
    background-color: rgb(123, 104, 238);
    border: 1px solid rgb(100, 149, 237);
    transition: background-color 0.5s ease, border 0.5s ease, color 0.5s ease;
}

.btn-calculate:hover {
    background-color: rgb(100, 149, 237);
}

.btn-calculate:active {
    background-color: rgb(0, 0, 139);
}

.form-result {
    width: 100%; /* Faz o bloco de resultado ocupar toda a largura disponível */
    height: 150px;
    margin-top: 10px;
    background: rgb(128, 128, 128);
    border-radius: 6px;
    color: white;
    font-style: italic;
}

/* Media Query para telas menores */
@media (max-width: 768px) {
    .container {
        padding: 1.5rem;
        border-width: 3px;
    }

    .title {
        font-size: 1.5rem;
    }

    button {
        font-size: 1rem;
        height: 45px;
    }

    .form-result {
        height: 120px;
    }
}
